<div class="m-3">
    <img (mouseover)="mouseOver(0)" 
         (mouseout)="mouseOut(0)" 
         #first class="star-rate"  
         src="../../assets/imgs/empty-star.png"
         (click)="onStarClick(1)">

    <img (mouseover)="mouseOver(1)" 
         (mouseout)="mouseOut(1)" 
         #second class="star-rate" 
         src="../../assets/imgs/filled-star.png"
         (click)="onStarClick(2)">

    <img (mouseover)="mouseOver(2)" 
         (mouseout)="mouseOut(2)" 
         #third class="star-rate"  
         src="../../assets/imgs/filled-star.png"
         (click)="onStarClick(3)">

    <img (mouseover)="mouseOver(3)" 
         (mouseout)="mouseOut(3)" 
         #fourth class="star-rate" 
         src="../../assets/imgs/filled-star.png"
         (click)="onStarClick(4)">

    <img (mouseover)="mouseOver(4)" 
         (mouseout)="mouseOut(4)" 
         #fifth class="star-rate"  
         src="../../assets/imgs/filled-star.png"
         (click)="onStarClick(5)">
</div>