.ul-no-bullets {
    list-style-type: none;
}

.link {
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
    cursor:pointer;
}

.animation{
    transition: all 0.5s;
}

.test {
    display: inline-block;
}

.star-rate {
    width: 30px;
    display: inline-block;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}