.ul-no-bullets {
    list-style-type: none;
}

.link {
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
    cursor:pointer;
}

.animation{
    transition: all 0.5s;
}

.test {
    display: inline-block;
}

.star-rate {
    width: 30px;
    display: inline-block;
}