<section class="row m-3">
    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3  card">
        <h1>Add course</h1>
        <form [formGroup]="form" autocomplete="off" novalidate>
            <div>
                <label class="float-left">Course name</label>
                <input formControlName="courseName" class="form-control" placeholder="Enter course name">
            </div>
        
            <div class="form-group">
                <label class="float-left">Course description</label>
                <textarea formControlName="courseDescr" class="form-control" placeholder="Enter course description"></textarea>
            </div>
        
            <div class="form-group">
                <label class="float-left">Number of ETCS</label>
                <input formControlName="etcs" class="form-control" placeholder="Enter number of ETCS">
            </div>
        
            <div class="form-group">
                <label class="float-left">Semester</label>
                <input formControlName="semester" class="form-control" placeholder="Enter semester">
            </div>
        
            <div class="form-group">
                <label class="float-left">Class form</label>
                <select formControlName="classForm" class="browser-default custom-select">
                    <option value="LECTURE">Lecture</option>
                    <option value="EXERCISE">Exercise</option>
                    <option value="LAB">Lab</option>
                    <option value="PROJECT">Project</option>
                </select>    
            </div>
        
            <div class="form-group">
                <label class="float-left">Course capacity</label>
                <input formControlName="capacity" type="number" class="form-control" placeholder="Enter capacity">
            </div>
        
            <div class="form-group">
                <label class="float-left">Course logo</label>
                <input formControlName="logo" class="form-control" placeholder="Enter course logo URL">
            </div>
        
            <button type="submit" (click)="onSubmit()" class="btn btn-primary m-3">Submit</button>
        </form>
    </div>
</section>